/*
	*Main Template
*/

body{
	background: url('../../images/bg.jpeg');
}

html{
	height: 100vh;
}
body{
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

#main-container{
	height:100%;
	box-shadow: 0px 0px 30px #000;
}
#header{
	width:100%;
	z-index: 100;
	box-shadow: 0px 2px 10px #000;
	height: 20%;
	background: url('../../images/try.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	}

#body{
	height:500px;
	z-index:0;
}

#main-content{
	height: 100%;
	float:right;
	z-index:0;
}

#nav-container{
	z-index: 1;
	height: 100%;
	box-shadow: 2px 0px 20px #000;
}

#footer{
	border-top: 1px solid #dbd7c0;
	height: 6%;
	z-index: 10;
	box-shadow: 0px 1px 2px #000;
}
#main-content-container{
	height:100%;
}
#content{
	color: black;
}

#footer-cont{
	position:relative;
	left: 30%;
}

/*
	**********************************************************************
*/

/*
	*HOME
*/

#carousel{
}

#box{
	margin-bottom: 4px;
	margin-right: 4px;
}

.carousel-caption p{
	text-indent: 30px;
	text-align: justify;
	padding-top: 3px;
	font-family: Georgia, serif;
}

#news1{
	font-size: 30px;
	font-family: Georgia, serif;
}

#news2{
	text-align: center; 
	font-size: 50px;
	font-family: Georgia, serif;
}

#news1a{
	text-indent:40px;
	font-family: Georgia, serif;
}

#reglinka{
	padding-left: 90px;
	font-family: Georgia, serif;
}

#reglinkb{
	padding-left: 90px;
	font-family: Georgia, serif;
}

#announce{
	font-family: Georgia, serif;
}

/*
 	****************************************************************************************
*/

/*
	*NAVIGATION

*/
#main-navigation-container{
	clear:both;
	color: black;
	top: 40px;
	position: relative;
}
.navigation-label{
	text-align:center;
	color:black;
	font-family: "Times New Romans";
	font-weight: bolder;
	border-bottom: 1px solid rgba(184,184,184,1);
	line-height: 30px;
}
.navigation-links li{
	border-bottom: 1px solid rgba(184,184,184,0.6);
	font-family: "Times New Romans";
	font-size: 16px;
	text-align: center;
	clear:both;
}
.navigation-links li:hover{
	text-shadow: 6px 2px 1px rgba(184, 184, 187, 0.8)
}
#account-navigation{
	text-align: center;
	margin-top: 30px;
}
#account-label{
	margin-top: 30px;
}
/*
	****************************************************************************************
*/
/*
	*Form Element in Accordion
*/
.form-elements{
  	float:left;
 	margin: 5px;
 }

/*
	*
*/
/*
	*Header
*/
#header{
	font-family: 'Source Sans Pro', sans-serif;
	width:100%;
	z-index: 100;
	box-shadow: 0px 2px 10px #000;
	height: 21.3%;
	}

#logo{
	position: relative;
	height: 110%;
	margin-left:8%;
}

.logodiv{
	margin-left: 10%;
}

#logindiv{
	font-family: 'Source Sans Pro', sans-serif;
	position: absolute;
	margin-left:60%;
	min-height: 50%;
	width:38%;
	/*background:url("../../images/login.png");*/
	border-radius:10px;
	bottom: 0%;
}

#emailuname{
	height: 100%;
	width:33%;
	margin-left:5%;
	top:18%;
}

.shadow{
	box-shadow: 0px 0px 5px inset;
}

#pword{
	height: 100%;
	width:33%;
	margin-left:43%;
	top:18%;
}
#loginbutton{
	position: absolute;
	height: 100%;
	width:33%;
	margin-left:82%;
	top:44%;
}

.align-center{
	text-align:center;
}

#logos{
	height: 103%;
	border-radius: 0 0 5px 5px;
}

#icselib{
	font-family: "Times New Romans";
	text-shadow: 6px 2px 1px rgba(0,0,0,0.8);
	font-style: oblique;
	font-size: 9em;
	font-weight: normal;
	line-height: 1.5em;
}
/*
	****************************************************************************************
*/

/*
	*Login Page
*/


#signbox{
	position: relative;
	min-height: 230px;
	border-radius: 5px 5px 0 0;
	padding: 0.3em 0.3em 0.3em 0.3em;
	box-shadow: 1px 1px 5px black;
	margin: 0 auto;
}
#signbox2{
	position: relative;
	border-radius: 5px 5px 0 0;
	padding: 0.3em 0.3em 0.3em 0.3em;
	box-shadow: 1px 1px 5px black;
	margin: 0 auto;
	top: 6em;
}

#sign{
	background-color: white;
	min-height: 86%;
	border-radius: 2px;
	color: black;
}

#sign #emailuser{
	margin-left: 2.5em;
	width:80%;
}

#sign #logpword{
	margin-left:2.5em;
	width:80%;
}

#tableform{
	border-radius:10px;
	margin-top:1%;
	margin-left:2%;
	background-color:white;
	height:230px;
	width:96%;
}

.logerror{
	width:100%;
	text-indent: 100px;
	position:relative
}


/*
	************************************************************************************
*/

table.fixed { table-layout:fixed; }
/*table.fixed td { overflow: hidden; }*/
table td{
	word-wrap:break-word;
}

table tr{
	background: url('../../images/none.png');
	transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	-ms-transition: all 1s;
}

table tr:hover {
	background: url('../../images/hover.png');
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
}

td{
		text-align:center;
}

.table-button{
	height: 2em;
	position:relative;
}
.table-button:hover{
	box-shadow: 5px 5px 10px #000;
	transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
}

.faq{
	font-family: Lucida Console;
	font-size: 50px;
	color: #413839;
	text-align: center;
	letter-spacing: 3px;
}

#img{
	background: url('img_faq.jpg');
}

#panel-size{
	height: 200px;
	width: 770px; 
	padding-left: 5em;
}

.question{
	color: gray;
}

#navigation > ul{
	list-style: none;
	position: relative;
}

#navigation > ul li{
	float:left;
	padding: 0.3em 3em 0.3em 3em;
}
#navigation > ul a{
	color: white;
	font-weight: bold;
}
#navigation > ul li:hover{
	transition: background 1s;
	background:#9d261d;
}

#navigation ul ul{
	position:absolute;
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	width: 15em;
	background: url('../../images/navigation.png');
}

#navigation ul li ul li{
	float:none;
	list-style: none;
	position: relative;
	top: 0.4em;
	
	height: 0;
	transition: height 1s, background 1s;
	-webkit-transition: height 1s,background 1s ;
	-moz-transition: height 1s,background 1s;
	-o-transition: height 1s,background 1s;
	-ms-transition: height 1s,background 1s;
}

#navigation ul li:hover ul{
	opacity: 1;
}

#navigation ul li:hover ul li{
	height: 1.5em;
	line-height: 1em;
	transition: height 1s, background 1s;
	-webkit-transition: height 1s,background 1s ;
	-moz-transition: height 1s,background 1s;
	-o-transition: height 1s,background 1s;
	-ms-transition: height 1s,background 1s;
}
.center{
	margin:0 auto;
}

#active{
				background-color: #9d261d;
			}

			.login{
				margin: 1px 3px 1px 3px;
			}

body,html{
  				height: 100%;
  			}
			#main-body{
				background-image:url('<?php echo base_url();?>images/g.jpg'); 
				background-size: 200px 130px;
				background-position: 100% 100%; 
				background-repeat:no-repeat;
				min-height: 74vh;
			}
			.search_button{
				background-image: url('<?php echo base_url(); ?>images/icn_search.png');
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 2em;
			}
			.clear-right{
				clear: right;
			}
			#tabs{
				padding: 5px 5px 5px 5px;
			}
			#tabs ul{
				clear:right;
				margin-bottom: 2.3em;
			}
			#tabs li{
				float:left;
				list-style:none;
			}
			#tabs div[id|='tabs']{
				border: 1px solid #eedddd;
				padding: 10px;
				border-radius: 5px;
				height: 250px;
			}
			#tabs li[class='active'] a{
				background: #b5b4b4;
				color: black;
			}

			#tabs li a{
				font-size: 1em;
				padding: 5px;
				border: 1px solid black;
				color: white;
				background: #656565;
			}
			#tabs h1[id^='news']{
				font-size: 1.5em;
				text-align:center;
				margin-bottom: 1.5em;
			}
.validmsg{
        margin-left: 3em;
        color: red;
        font-weight:bold;
}
.successmsg{
        background: url('<?php echo base_url();?>images/s.png');
        border:1px solid #0f0;
        border-radius: 10px;
        margin-bottom: 3em;
    }
    .msgwraps{
        background-image: url('<?php echo base_url(); ?>images/check.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .msgwraps p{
        text-indent: 5em;
    }

    .errormsg{
        background: url('../../images/e.png');
        border:1px solid #F00;
        border-radius: 10px;
        margin-bottom: 3em;
    }
    .msgwrape{
        background-image: url('../../images/x.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .msgwrape p{
        text-indent: 5em;
    }